/* try 50% */
.chev .up {
  border-radius: 50% 50% 0 0; }
.chev .down {
  border-radius: 0 0 50% 50%; }
.chev .count {
  border-radius: 100%/50%; }

.vote {
  display: flex;
  flex-direction: column;
  font-family: Arial;
  position: relative;
  width: 5rem;
  height: 5rem;
  margin: 10% auto; }

.increment {
  flex: 1 0 0;
  text-align: center;
  opacity: .5;
  transition: 0.3s;
  cursor: pointer; }
  .increment.up {
    background: #4BC35F;
    height: 50%;
    margin-bottom: 0.25rem; }
  .increment.down {
    background: #C15044;
    height: 50%; }
  .increment:hover {
    opacity: 1; }

.count {
  position: absolute;
  top: 0;
  border-radius: 0.1rem;
  margin: 1.25rem;
  background: #F6F3E4;
  width: 2.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2.5rem;
  text-align: center;
  box-shadow: 0 0 0 0.5rem #F6F3E4;
  pointer-events: none; }
  .count.upvoted {
    color: #4BC35F; }
  .count.downvoted {
    color: #C15044; }

.bump {
  animation: bump 200ms; }

@keyframes bump {
  30% {
    transform: scale(1.2); } }
* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  margin: 0;
  padding: 0; }

form {
  margin: 0; }

.feedback-container {
  width: 60%;
  min-width: 450px;
  height: auto;
  margin: auto;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid black;
  box-shadow: 4px 4px 7px 1px; }
  @media screen and (max-width: 651px) {
    .feedback-container {
      width: 100%;
      padding: 0;
      border-bottom: 2px solid black;
      box-shadow: none; } }
  .feedback-container .form-box {
    width: 85%;
    max-width: 800px;
    height: auto;
    background: white;
    border: 1px solid black;
    margin: 35px auto; }
    @media screen and (max-width: 651px) {
      .feedback-container .form-box {
        width: 100%;
        border-bottom: 2px solid black;
        box-shadow: none;
        margin: 0 auto; } }
    .feedback-container .form-box textarea {
      width: 100%;
      max-width: 100%;
      max-height: 125px;
      margin: 5px 0; }
    .feedback-container .form-box .feedback-button {
      width: 150px;
      height: 45px;
      margin: auto; }
      .feedback-container .form-box .feedback-button button {
        width: 135px;
        height: 35px;
        margin: 5px auto; }
    .feedback-container .form-box p {
      display: inline-block;
      text-align: right;
      width: 50%; }
    .feedback-container .form-box input {
      width: 45%;
      margin: 0 5px;
      display: inline-block; }
  .feedback-container .feedback-box-replies {
    width: 85%;
    max-width: 800px;
    height: auto;
    background: white;
    border: 1px solid black;
    margin: auto; }
    .feedback-container .feedback-box-replies .feedback-box-title {
      text-align: center;
      font-family: Arial; }
    .feedback-container .feedback-box-replies .reply {
      font-family: sans-serif;
      width: 100%;
      height: inherit;
      border-top: 2px solid black; }
      .feedback-container .feedback-box-replies .reply .header-info {
        height: auto; }
        .feedback-container .feedback-box-replies .reply .header-info .reply-user-left {
          width: 70%;
          height: auto;
          display: inline-block; }
        .feedback-container .feedback-box-replies .reply .header-info .reply-user-right {
          width: 30%;
          height: auto;
          float: right; }
      .feedback-container .feedback-box-replies .reply .body-info {
        height: auto;
        padding: 0 3px; }

/*# sourceMappingURL=style.css.map */
