extends layout

block content

    <div class='feedback-container'>
    <div class='form-box'>
    <form class='feedbck-form' name='userFeedback' action='/form' method='POST'>
    <textarea for='userFeedback' name='feedback' rows='4' cols='50' maxlength='500' placeholder='Enter text here' onkeyup='remaining(this)' required></textarea>
    <input for='userFeedback' name='username' placeholder='Enter a Nickname' required />
    <p><span id='text-counter'>500</span> Characters remain</p>

    <div class='feedback-button'>
    <button class='submit-fb' for='feedback-box' type='submit' >Submit Feedback</button>
    </div>
    </form>
    </div>

    <!--User submitted feedback goes in here-->
    <div class='feedback-box-replies' id='feedback-replies'>
    <h1 class='feedback-box-title'>User Submitted Feedback</h1>
    each val in data

        <!--This will be generated dynamically depending on what is in stored information-->
        <div class='reply'>
        <div class='header-info'>
        <div class='reply-user-left'>
        <h4 >Submitted By: <span class='reply-username'>#{val.Username}</span></h4>
        <div class='body-info'>
        <p>#{val.Comment}</p>
        </div>
        </div>
        <div class='reply-user-right'>
        <div class="vote chev">
        <div class="increment up"></div>
        <div class="increment down"></div>

        <div class="count">#{val.Ranking}</div>
        </div>
        </div>
        </div>
        </div>
    </div>